<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page_info }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

        {# Load CSS and JavaScript #}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    </head>
    <body>
        {% include 'estoque/nav_bar.html' %}
        <div class="container" style="padding:20px;text-align:center">
            <div class="row justify-content-center">
                <div class="col">
                    {% block content %}
                    {% endblock content %}
                    <br>
                    <footer>
                    </footer>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>
